
React/user_data
DC4.0Backend/DC4.0Backend/obj/Debug/DC4.0Backend.dll
DC4.0Backend/DC4.0Backend/obj/Debug/DC4.0Backend.pdb
DC4.0Backend/DC4.0Backend/obj/Debug/DC4.0Backend.dll
DC4.0Backend/DC4.0Backend/obj/Debug/DC4.0Backend.csprojAssemblyReference.cache
DC4.0Backend/DC4.0Backend/obj/Debug/DC4.0Backend.csproj.CoreCompileInputs.cache
DC4.0Backend/DC4.0Backend/bin/DC4.0Backend.pdb
DC4.0Backend/.vs/DC4.0Backend/v15/.suo
DC4.0Backend/.vs/DC4.0Backend/v15/Server/sqlite3/storage.ide-shm
DC4.0Backend/.vs/DC4.0Backend/v15/Server/sqlite3/storage.ide-wal
DC4.0Backend/DC4.0Backend/bin/DC4.0Backend.dll
*.pdb
*.pdb
*.dll
*.ide
DC4.0Backend/.vs/DC4.0Backend/v15/Server/sqlite3/db.lock
DC4.0Backend/.vs/config/applicationhost.config
.DS_Store
