// @import '../../../assets/master';
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');



.dashboard-container {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px 15px;
    margin: 10px 15px;
}

.links-card.link-card {
    //@error: 5px;
    background-color:rgb(241,242,242);
   // padding: 20px;
    
}

.links-title.link-title {

    font-family:'Montserrat';
     color:rgb(35,168,224);
}

.links-item {
    color:black;
    font-size:18px;
     font-family:'Montserrat';
}

.links-item:hover.links-item:hover {
    color:rgb(35,168,224);
}